<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxc.mapper.ArticleMapper">
	<select id="selectArticle" parameterType="com.zxc.entity.Article" resultType="com.zxc.entity.Article">
		SELECT * FROM t_article WHERE articleId = #{articleId}
	</select>
	<select id="selectArticles" parameterType="java.lang.String" resultType="com.zxc.entity.Article">
		SELECT * FROM t_article
	</select>
	
	<insert id="insertArticle" keyProperty="id" parameterType="com.zxc.entity.Article" useGeneratedKeys="true">  
        INSERT INTO t_article (articleClassId,issuerId,articleName,articleType,content,issuerdate) 
        	VALUES (#{articleClassId},#{issuerId},#{articleName},#{articleType},#{content},#{issuerdate})  
    </insert> 
    
    
    <update id="updateArticle" parameterType="com.zxc.entity.Article">  
        UPDATE t_article SET articleClassId = #{articleClassId},issuerId = #{issuerId},articleName = #{articleName},
        	articleType = #{articleType},content = #{content},issuerdate = #{issuerdate} 
        	WHERE articleId = #{articleId}
    </update>  
    <delete id="deleteArticle" parameterType="int">  
        DELETE from t_article where articleId = #{articleId}  
    </delete>  
</mapper>