<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxc.mapper.EmpEducationInfoMapper">
	<select id="selectEmpEducationInfo" parameterType="com.zxc.entity.EmpEducationInfo"
		resultType="com.zxc.entity.EmpEducationInfo">
		SELECT * FROM t_emp_education_info
		WHERE empEducationId = #{empEducationId}
	</select>

	<select id="selectEmpEducationInfos" parameterType="java.lang.String" resultType="com.zxc.entity.EmpEducationInfo">
		SELECT * FROM t_emp_education_info
	</select>

	<insert id="insertEmpEducationInfo" keyProperty="id" parameterType="com.zxc.entity.EmpEducationInfo" useGeneratedKeys="true">
		INSERT INTO t_emp_education_info (empId, schoolName,enterdate,leavedate)
		values (#{empId},#{schoolName},#{enterdate},#{leavedate})
	</insert>

	<update id="updateEmpEducationInfo" parameterType="com.zxc.entity.EmpEducationInfo">
		UPDATE t_emp_education_info
		SET
		empId = #{empId}, schoolName = #{schoolName} ,
		enterdate = #{enterdate} , leavedate = #{leavedate}
		WHERE empEducationId = #{empEducationId}
	</update>

	<delete id="deleteEmpEducationInfo" parameterType="int">
		DELETE FROM t_emp_education_info
		WHERE empEducationId = #{empEducationId}
	</delete>
</mapper>