<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxc.mapper.EmpOfficeInfoMapper">
	<select id="selectEmpWorkInfo" parameterType="com.zxc.entity.EmpWorkInfo" resultType="com.zxc.entity.EmpWorkInfo">
		SELECT * FROM t_EmpWorkInfo WHERE empOfficeId = #{empOfficeId}
	</select>
	<select id="selectEmpWorkInfos" parameterType="java.lang.String" resultType="com.zxc.entity.EmpWorkInfo">
		SELECT * FROM t_EmpWorkInfo
	</select>
	
	<insert id="insertEmpWorkInfo" keyProperty="id" parameterType="com.zxc.entity.EmpWorkInfo" useGeneratedKeys="true">  
        INSERT INTO t_EmpWorkInfo (empId, officeType,hiredate,resigndate,isResign) values (#{empId},#{officeType},#{hiredate},#{resigndate},#{isResign})  
    </insert> 
    
    
    <update id="updateEmpWorkInfo" parameterType="com.zxc.entity.EmpWorkInfo">  
        UPDATE t_EmpWorkInfo SET empId = #{empId}, officeType = #{officeType} ,hiredate=#{hiredate},resigndate=#{resigndate},isResign=#{isResign}
        WHERE empOfficeId = #{empOfficeId}  
    </update>  
    <delete id="deleteEmpWorkInfo" parameterType="int">  
        DELETE from t_EmpWorkInfo WHERE empOfficeId = #{empOfficeId}  
    </delete>  
</mapper>