<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxc.mapper.ResumeMapper">
	<select id="selectResume" parameterType="com.zxc.entity.Resume" resultType="com.zxc.entity.Resume">
		SELECT * FROM t_Resume WHERE resumeId = #{resumeId}
	</select>
	<select id="selectResumes" parameterType="java.lang.String" resultType="com.zxc.entity.Resume">
		SELECT * FROM t_Resume
	</select>
	
	<insert id="insertResume" keyProperty="id" parameterType="com.zxc.entity.Resume" useGeneratedKeys="true">  
        INSERT INTO t_Resume (userId, resumePath) values (#{userId},#{resumePath})  
    </insert> 
    
    
    <update id="updateResume" parameterType="com.zxc.entity.Resume">  
        UPDATE t_Resume SET userId = #{userId}, resumePath = #{resumePath} 
        WHERE resumeId = #{resumeId}  
    </update>  
    <delete id="deleteResume" parameterType="int">  
        DELETE from t_Resume WHERE resumeId = #{resumeId}  
    </delete>  
</mapper>