<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxc.mapper.UserMapper">

	<select id="selectUser" parameterType="com.zxc.entity.User" resultType="com.zxc.entity.User">
		SELECT * FROM t_user WHERE username = #{username} AND password = #{password}
	</select>
	
	<select id="selectUsers" parameterType="java.lang.String" resultType="com.zxc.entity.User">
		SELECT * FROM t_user
	</select>
	
	<insert id="insertUser" keyProperty="id" parameterType="com.zxc.entity.User" useGeneratedKeys="true">  
        INSERT INTO t_user (username, password) values (#{username},#{password})  
    </insert> 
    
    <update id="updateUser" parameterType="com.zxc.entity.User">  
        UPDATE t_user SET username = #{username}, password = #{password} WHERE userid = #{userId}  
    </update>  
    
    <delete id="deleteUser" parameterType="com.zxc.entity.User">  
        DELETE FROM t_user WHERE userid = #{userId}
    </delete>  
    
</mapper>